<div class="w-full flex justify-center mt-20">
  <div class="w-full max-w-5xl relative overflow-x-auto shadow-md p-4 lg:p-8">
    <form class="w-full" (ngSubmit)="handleCreateBook()" [formGroup]="publishForm">
      <div class="mb-6">
        <label for="book-name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
          Title
        </label>
        <input
          type="text"
          id="book-name"
          class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
          placeholder="Title"
          formControlName="title"
        />
      </div>
      <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
        Description
      </label>
      <textarea
        id="message"
        rows="4"
        class="block mb-6 p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Description"
        formControlName="description"
      ></textarea>

      <button class="w-full text-white bg-black hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg font-semibold text-sm px-4 py-2 text-center mr-3 md:mr-0 dark:bg-blue-600 dark:hover-bg-blue-700 dark:focus:ring-blue-800">Publish Book</button>
    </form>
  </div>
</div>
